
    <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
    </fb:login-button>

    <ul class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="friend-profile.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/42x42">
            <div class="media-body">
              Friend X
            </div>
          </a>
        </li>
      </ul>

    <div id="notifications" class="popover">
      <header class="bar bar-nav">
        <h1 class="title">Notifications</h1>
      </header>
      <ul class="table-view">
        <li class="table-view-cell">Friend X bubbled you!</li>
        <li class="table-view-cell">Friend Y bubbled you!</li>
        <li class="table-view-cell">Friend Z bubbled you!</li>
        <li class="table-view-cell">Friend A bubbled you!</li>
        <li class="table-view-cell">Friend B bubbled you!</li>
        <li class="table-view-cell">Friend X bubbled you!</li>
      </ul>
    </div>