    <taggeable-friends/>

    <div id="notifications" class="popover">
      <header class="bar bar-nav">
        <h1 class="title">Notifications</h1>
      </header>
      <ul class="table-view">
        <li class="table-view-cell">Friend X bubbled you!</li>
        <li class="table-view-cell">Friend Y bubbled you!</li>
        <li class="table-view-cell">Friend Z bubbled you!</li>
        <li class="table-view-cell">Friend A bubbled you!</li>
        <li class="table-view-cell">Friend B bubbled you!</li>
        <li class="table-view-cell">Friend X bubbled you!</li>
      </ul>
    </div>